In [12]:
import pandas as pd

# IBM volume Series for 2017
ibm_volume: pd.Series = pd.Series(
    data=[100, 200, 150],
    index=pd.to_datetime(['2017-01-03', '2017-01-04', '2017-01-05']),
    name='Volume'
)
display(ibm_volume)

2017-01-03    100
2017-01-04    200
2017-01-05    150
Name: Volume, dtype: int64

In [14]:
# Google volume Series for 2017
googl_volume: pd.Series = pd.Series(
    data=[180, 220, 130],
    index=pd.to_datetime(['2017-01-04', '2017-01-05', '2017-01-06']),
    name='Volume'
)
googl_volume.sort_index(ascending=False, inplace=True)
display(googl_volume)

2017-01-06    130
2017-01-05    220
2017-01-04    180
Name: Volume, dtype: int64

In [16]:
# New DataFrame; pandas will align by index automatically
df_vol = pd.DataFrame()

df_vol['IBM'] = ibm_volume
display(df_vol)

            IBM
2017-01-03  100
2017-01-04  200
2017-01-05  150

In [17]:
df_vol['Google'] = googl_volume

display(df_vol)

            IBM  Google
2017-01-03  100     NaN
2017-01-04  200   180.0
2017-01-05  150   220.0