In [2]:
from typing import Optional
import yfinance as yf
import pandas as pd

def test_yfinance_basic(ticker: str = 'AAPL', period: str = '5d') -> Optional[pd.DataFrame]:

    df = yf.download(ticker, period=period, auto_adjust=True)
    print(f'Returned dataframe for {ticker} ({period}):')
    print(df)
    if df.empty:
        print('yfinance returned an empty DataFrame.')
        return None
    print('yfinance appears to be working!')
    return df

# Run test
test_yfinance_basic()

[*********************100%***********************]  1 of 1 completed

Returned dataframe for AAPL (5d):
Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-07-21  212.479996  215.779999  211.630005  212.100006  51377400
2025-07-22  214.399994  214.949997  212.229996  213.139999  46404100
2025-07-23  214.149994  215.149994  212.410004  215.000000  46989300
2025-07-24  213.759995  215.690002  213.529999  213.899994  46022600
2025-07-25  213.889893  215.240005  213.399994  214.699997  31618524
yfinance appears to be working!

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-07-21  212.479996  215.779999  211.630005  212.100006  51377400
2025-07-22  214.399994  214.949997  212.229996  213.139999  46404100
2025-07-23  214.149994  215.149994  212.410004  215.000000  46989300
2025-07-24  213.759995  215.690002  213.529999  213.899994  46022600
2025-07-25  213.889893  215.240005  213.399994  214.699997  31618524